# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_RTC
	bool "Realtek Bee RTC driver"
	default n
	help
	  This option enables the RTC driver for Realtek Bee.

config REALTEK_BEE_GRTC
	bool "Realtek Bee GRTC driver"
	default n
	help
	  This option enables the GRTC driver for Realtek Bee.
