# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_PINMUX
	bool "Realtek Bee PINMUX driver"
	default n
	help
	  This option enables the PINMUX driver for Realtek Bee.
