# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_RCC
	bool "Realtek Bee RCC driver"
	default n
	help
	  This option enables the RCC driver for Realtek Bee.
