# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_CAN
	bool "Realtek Bee CAN driver"
	default n
	help
	  This option enables the CAN driver for Realtek Bee.
