# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_GPIO
	bool "Realtek Bee GPIO driver"
	default n
	help
	  This option enables the GPIO driver for Realtek Bee.
