# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_I2C
	bool "Realtek Bee I2C driver"
	default n
	help
	  This option enables the I2C driver for Realtek Bee.
