# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_SPI
	bool "Realtek Bee SPI driver"
	default n
	help
	  This option enables the spi driver for Realtek Bee.
