# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_UART
	bool "Realtek Bee UART driver"
	default n
	help
	  This option enables the UART driver for Realtek Bee.
