# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_I2S
	bool "Realtek Bee I2S driver"
	default n
	help
	  This option enables the I2S driver for Realtek Bee.
