# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_QDEC
	bool "Realtek Bee QDEC driver"
	default n
	help
	  This option enables the QDEC driver for Realtek Bee.

config REALTEK_BEE_AON_QDEC
	bool "Realtek Bee AON QDEC driver"
	default n
	help
	  This option enables the AON QDEC driver for Realtek Bee.

config REALTEK_BEE_LPQDEC
	bool "Realtek Bee LP QDEC driver"
	default n
	help
	  This option enables the LP QDEC driver for Realtek Bee.
